exportPattern("^[[:alpha:]]+")
import("parallel")
import("Matrix")
import("methods")
import("data.table")
importFrom("methods","as")
importFrom("e1071","svm")
importFrom("grDevices", "hsv")
importFrom("utils", "download.file", "unzip", "write.table")
importFrom("graphics", "axis", "barplot", "par", "plot", "rect",
           "segments", "text", "abline", "layout", "legend", "points")
importFrom("sparseinv","cholPermute","Takahashi_Davis")
importFrom("pedigreemm","getA","getAInv","editPed","pedigree")
importFrom("stats", "as.formula", "lm", "lm.fit", "model.frame",
           "model.matrix", "model.response", "na.omit", "pbeta", "pbinom",
           "pchisq", "pf", "pnorm", "ppois", "rpois", "qchisq", "qnorm",
           "rchisq", "rnorm", "runif", "sd", "var","terms",
           "na.exclude","residuals","family","predict",
           "aggregate", "kmeans", "median")
